@model Students.Models.EtudiantNote

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EtudiantNote</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Etudiant.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etudiant.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matiere.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matiere.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valeur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valeur)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EtudiantNoteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
